@font-face {
	font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
	src: url(fonts/WorkSans-Regular.ttf);
}

body {
    margin: 0;
    font-size: 27.22px;
    font-family: 'Work Sans', serif;
    font-weight: 400;
    line-height: 41.02px;
    position: relative;
}

p,
h1, h2, h3, h4, h5, h6,
a {
    margin: 0;
}

#popUp {
    position: relative;
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1B1B1B;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.block {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
#popUp > span {
    position: absolute;
    right: 1%;
    cursor: pointer;
}

/* intro block ======== */
.flex-container-intro {
    display: flex;
}
.intro-preview {
    width: 50%;
    height: auto;
    max-height: 888px;
    max-width: 840px;
}
.intro-block__text {
    width: 50%;
    height: auto;
    max-height: 888px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.inro-logo-img {
    width: 100%;
}
.intro__title-bottom {
    text-align: center;
    margin: 0 60px 20px 43px;
    font-size: 99.6px;
    line-height: 90.84px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    max-width: 740px;
}

/* main block ======== */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1B1B1B;
    color: #fff;
    padding: 178px 0 317px 0;
    position: relative;
}
mainVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    color: #fff;
    width: 100vw;
    height: auto;
    position: relative;
    padding-top: 50px;
}
mainVideo > video {
    width: 100vw;
    height: auto;
}
mainVideo > div.playBtn {
    width: 100vw;
    height: auto;
    display: none;
    justify-content: center;
    align-content: center;
    background-color: #000;
    position: absolute;
}
mainVideo > div.playBtn img {
    width: 50%;
    height: auto;
}
.container {
    max-width: 75%;
    margin: 0 auto;
}
.main__title {
    font-size: 99.6px;
    font-weight: 700;
    line-height: 105.84px;
    text-align: center;
    text-transform: uppercase;
}
.main__subtitle {
    font-size: 37.22px;
    font-weight: 400;
    line-height: 41.02px;
    text-align: center;
    margin-top: 83px;
    margin-bottom: 117px;
}
.main-btn-group {
    display: flex;
    justify-content: center;
}
input {
    border-radius: 0;
    -webkit-appearance: none;
}
.mail-input {
    background-color: #1B1B1B;
    border: 1px solid #fff;
    color: #fff;
    padding: 18px 18px 18px 21px;
    font-size: 57.6px;
    line-height: 52.53px;
    font-weight: 700;
    outline: none;
}
.mail-input::placeholder {
    color: #fff;
    text-transform: uppercase;
}
.mail-button {
    background-color: #E75C2D;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 57.6px;
    font-weight: 700;
    line-height: 52.53px;
    padding: 18px 34px;
    cursor: pointer;
}
.main-bottom-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 180px;
}
.mobile {
    display: none;
}

/* invest block ======== */
.invest {
    background-image: url(img/invest-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1005px;
}
.invest-img-mobile {
    display: none;
    width: 100%;
    height: auto;

}
.invest-top__subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 57.6px;
    line-height: 52.3px;
}
.invest-top {
    background-color: #fff;
    width: 50%;
    min-height: 505px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.invest-bottom {
    background-color: #fff;
    width: 50%;
    min-height: 505px;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
}
.invest-bottom__title {
    height: 100%;
    font-size: 27.22px;
    font-weight: 400;
    line-height: 30px;
    margin: auto 60px auto 60px;
}

/* footer block ======== */
footer {
    min-height: 888px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.footer__title {
    color: #E75C2D;
    font-weight: 700;
    font-size: 57.6px;
    line-height: 52.53px;
    text-align: center;
    text-transform: uppercase;
}
.footer-link {
    text-decoration: none;
    display: block;
}
.footer-img {
    position: absolute;
    bottom: 35px;
    left: 40px;
    display: flex;
}
.footer-ico {
    width: 31px;
    height: 31px;
}
.footer-link:last-child {
    margin-left: 20px;
}
.footer-info {
    position: absolute;
    bottom: 35px;
    right: 1%;
    font-size: 17.6px;
    line-height: 16.5px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}


/* ====== chess ====== */
.min-block {
    width: 25%;
    height: 222px;
    background-color: #fff;
    display: block;
}
.center-block {
    width: 50%;
    height: 222px;
    background-color: #000;
}

.center--block {
    background-color: #000;
    width: 25%;
    height: 444px;
}
.center-center-block {
    width: 50%;
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ADAPTIVE ======== */
@media (max-width: 1024px) {
    .intro__title-bottom {
        font-size: 45.6px;
        line-height: 50.84px;
    }
    .main__title{
        font-size: 60.6px;
        line-height: 70.84px;
    }
    .main__subtitle {
        font-size: 25.22px;
    }
    .mail-input,
    .mail-button {
        font-size: 25.6px;
        line-height: 20.53px;
    }
    .invest-top__subtitle {
        font-size: 30.6px;
        line-height: 30.3px;
    }
    .invest-bottom__title {
        font-size: 20.22px;
        line-height: 22px;
    }
    .footer__title {
        font-size: 29.6px;
        line-height: 35.53px;
    }
    .footer-info {
        font-size: 13.6px;
    }
}

@media (max-width: 768px) {
    .intro__title-bottom {
        font-size: 30.6px;
        line-height: 35.84px;
    }
    main {
        padding-top: 100px;
        padding-bottom: 175px;
    }
    .main__title {
        font-size: 35.6px;
        line-height: 40.84px;
    }
    .main__subtitle {
        font-size: 20.22px;
        margin-top: 35px;
        margin-bottom: 60px;
    }
    .invest-top {
        min-height: 350px;
    }
    .invest {
        min-height: 850px;
    }
    .invest-bottom__title {
        font-size: 17.22px;
        line-height: 19px;
    }
    footer  {
        min-height: 600px;
    }
    .center-block,
    .min-block {
        height: 150px;
    }
    .center--block,
    .center-center-block {
        height: 350px;
    }
}

@media (max-width: 600px) {
    .invest {
        min-height: auto;
    }
    .invest-top {
        min-height: 220px;
    }
    .invest-bottom {
        min-height: 320px;
    }
    .footer-info {
        font-size: 8.6px;
    }
    .footer-img {
        left: 1%;
    }
    .mail-input, .mail-button {
        font-size: 14.6px;
        line-height: 0.0px;
    }
    .invest-bottom__title {
        margin: auto 4% auto 4%;
    }
}

@media (max-width: 450px) {
    .flex-container-intro {
        flex-direction: column-reverse;
    }
    .intro__title-bottom {
        margin: 0 15px 20px 15px;
    }
    .intro-block__text {
        width: 100%;
        min-height: 350px;
    }
    .intro__title-bottom {
        font-size: 44.2px;
    }
    .intro-preview {
        width: 100%;
        transform: translateY(1px);
    }
    .container {
        max-width: 90%;
    }
    .main__title {
        font-size: 34.5px;
        line-height: 31.46px;
    }
    .main__subtitle {
        font-size: 17.18px;
        line-height: 18.93px;
        margin-top: 45px;
        margin-bottom: 130px;
    }
    .main-btn-group {
        flex-direction: column;
    }
    .mail-input {
        font-size: 33.27px;
        line-height: 30.34px;
        margin-bottom: 20px;
        text-align: center;
        padding: 10px 5px 10px 5px;
    }
    .mail-button {
        font-size: 33.54px;
        line-height: 30.59px;
    }
    .mail-button {
        padding: 9px 34px;
    }
    .main-bottom-img {
        bottom: -25px;
    }
    .desctop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .invest {
        background-image: none;
    }
    .invest-img-mobile {
        display: block;
    }
    .invest-top,
    .invest-bottom {
        width: 100%;
    }
    .invest-top {
        justify-content: center;
    }
    .invest-top__subtitle {
        max-width: 90%;
    }
    .invest-top__subtitle {
        font-size: 34.5px;
        line-height: 31.46px;
    }
    .invest-bottom__title {
        font-size: 17.18px;
        line-height: 18.93px;
    }
    .invest-bottom__title {
        text-align: center;
    }
    .center--block {
        display: none;
    }
    .center-center-block {
        width: 100%;
        background-color: #1B1B1B;
    }
    .center-block {
        width: 60%;
        background-color: #1B1B1B;
    }
    .center-block, .min-block {
        height: 200px;
    }
    .min-block {
        width: 20%;
    }
    .footer__title {
        font-size: 33.76px;
        line-height: 30.79px;
    }
    .footer-img {
        left: calc(50% - 56px);
        bottom: 65px;
    }
    img.footer-ico {
        width: 46px;
        height: 46px;
    }
    .footer-info {
        font-size: 15.75px;
        line-height: 14.36px;
        color: #fff;
        right: calc(50% - 85px);
        bottom: 10px;
    }
    .footer-ico {
        width: 46px;
        height: 46px;
    }
    #inst path {
        fill: #fff;
    }
    #inst rect {
        stroke: #fff;
    }
    #twit path {
        fill: #fff;
    }
    #twit rect {
        stroke: #fff;
    }
}
